{% extends 'base.html.twig' %}

{% block title %}Creation d'une annonce{% endblock %}

{% block body %}

<div class="container">
    <h1>{{ formMethod }} une annonce</h1>

    {{ form_start(advertisementFrom) }}

    {{ form_end(advertisementFrom) }}
</div>

{% endblock %}