{% extends 'base.html.twig' %}

{% block title %}Creation d'une annonce{% endblock %}

{% block body %}

<div class="container">
    <h1>Créer une annonce</h1>

    {{ form_start(form) }}

    {{ form_end(form) }}
</div>

{% endblock %}