{% extends 'base.html.twig' %}

{% block title %}
    Bienvenue sur le meilleur réseau d'appartements !
{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron mt-3">
            <h1 class="display-3">Bienvenue sur Symmer Holidays</h1>
                <p class="lead">Mise en relation entre voyageur et propriétaires.</p>
                <hr class="my-4">
                <p>Voyageur ? Trouvez votre prochaine étape</p>
                <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos biens</a>
            </p>
        </div>
        <h2 class="h1 mt-3 mb-4">Logements à la Une</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        5 chambres, <strong>119&euro; / nuit</strong><br>
                        <small>pas encore noté</small>
                    </div>
                    <img src="http://placehold.it/1000x400" alt="Image l'appartement" 
                    style="height: 200px; width: 100%; display: block">

                    <div class="card-body">
                        <h4 class="card-title">
                         Appartement test
                        </h4>
                        <p class="text-center">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Facere dolores aliquid facilis placeat rerum architecto corrupti nemo est, culpa et?
                        </p>
                        <a href="#" class="btn btn-secondary">En savoir plus</a>
                    </div>
                </div> 
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        5 chambres, <strong>119&euro; / nuit</strong><br>
                        <small>pas encore noté</small>
                    </div>
                    <img src="http://placehold.it/1000x400" alt="Image l'appartement" 
                    style="height: 200px; width: 100%; display: block">

                    <div class="card-body">
                        <h4 class="card-title">
                         Appartement test
                        </h4>
                        <p class="text-center">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Facere dolores aliquid facilis placeat rerum architecto corrupti nemo est, culpa et?
                        </p>
                        <a href="#" class="btn btn-secondary">En savoir plus</a>
                    </div>
                </div> 
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        5 chambres, <strong>119&euro; / nuit</strong><br>
                        <small>pas encore noté</small>
                    </div>
                    <img src="http://placehold.it/1000x400" alt="Image l'appartement" 
                    style="height: 200px; width: 100%; display: block">

                    <div class="card-body">
                        <h4 class="card-title">
                         Appartement test
                        </h4>
                        <p class="text-center">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Facere dolores aliquid facilis placeat rerum architecto corrupti nemo est, culpa et?
                        </p>
                        <a href="#" class="btn btn-secondary">En savoir plus</a>
                    </div>
                </div> 
            </div>
        </div>
        <h2 class="h1 mt-3 mb-4">Nos propirétaire stars !</h2>
        <div class="row">
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">John</h4>
                        <hr>
                        <div class="card-text">
                            <img src="http://placehold.it/64x64" alt="Avatar John" class="float-left mr-3">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, modi?</p>
                            <a href="" class="btn btn-success float-right">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">John</h4>
                        <hr>
                        <div class="card-text">
                            <img src="http://placehold.it/64x64" alt="Avatar John" class="float-left mr-3">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, modi?</p>
                            <a href="" class="btn btn-success float-right">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
{% endblock %}